{
  "region": "us-west-2",
  "ClientIp": "",
  "namespace": "myservice.local",
  "dockerimagedirectory": "dockerimages",
  "frontend": {
    "image": "frontend",
    "portnumber": 3000,
    "AWS_NODEJS_CONNECTION_REUSE_ENABLED": "1"
  },
  "backend": {
    "image": "backend",
    "portnumber": 5000,
    "AWS_NODEJS_CONNECTION_REUSE_ENABLED": "1"
  }
}
